*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
.tac{
    height:100vh;
    width:100vw;
    background-image: url(v1016-b-09.jpg);
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.game1{
    font-family: myfont;
    font-size: 4em;
    margin-top: 1em;
    color:white;
}
.cont1{
    height:61%;
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.game{
    height:66%;
    width:72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:0.5em;
}
.tic{
    height:30%;
    width:32%;
    background-color: white;
    border-radius:11%;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
    font-size:4em;
    font-family: myfont;
    color:red;

}
.reset{
    height:4em;
    width:9em;
    color:black;
    background-color: rgb(111, 111, 231);
    margin-top:1em;
    border-radius:30px;
    font-family: myfont;

}
.new{
    height:4em;
    width:9em;
    color:black;
    background-color: rgb(111, 111, 231);
    margin-top:1em;
    border-radius:30px;
    font-family: myfont;
    margin-left:4em;

}
#win{
    font-family:myfont;
    font-size:3em;
    color:white;
}
.visit{
    height:4em;
    width:9em;
    color:black;
    background-color: rgb(111, 111, 231);
    margin-top:1em;
    border-radius:30px;
    font-family: myfont;
    display:flex;
    flex-wrap: wrap;


}
 .hide{
    display:none;
} 
.main{
    width:100vw;
    height:370vh;
    background-image:url(bodybg.jpg);
    background-size:100% 100vh;
   
}
@media (min-width:320px) and (max-width:374px){
    #msg{
        font-size: 2em;
    }
    .new{
        height:3em;
        width:8em;
        margin-left:3em;
    }
    .game1{
        font-size:1em;
    }
    .cont1{
        width:86%;
    }
    .visit{
        margin-top: 1em
    }

}
@media (min-width:375px) and (max-width:424px){
    #msg{
        font-size: 2em;
    }
    .new{
        height:3em;
        width:8em;
        margin-left:3em;
    }
    .game1{
        font-size:2em;
    }
    .cont1{
        width:86%;
    }

}
@media (min-width:425px) and (max-width:767px){
    #msg{
        font-size: 2em;
    }
    .new{
        height:3em;
        width:8em;
        margin-left:3em;
    }
    .game1{
        font-size:2em;
    }
    .cont1{
        width:86%;
    }

}

.one{
    position:relative;
    width:100%;
    height:90vh;
    margin-top:10vh;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation-duration: 2s;
   
    
}
header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:19;

}
nav{
    width:100%;
    height:5em;
    
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;

}
nav:hover{
    background-color:rgb(3, 3, 62) ;
}
.logo{
    height:5em;
    width:9em;
    margin-left:1em;
}
.anime{
    opacity:0;
    transform:translateX(50px);
    animation:moveright 2s linear forwards;
}
@keyframes moveright{
    100%{
        opacity:1;
        transform:translateX(0px);
    }
}
.anim{
    opacity:0;
    transform:translateY(30px);
    animation:moveup 3s linear forwards;
}
@keyframes moveup{
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}
a{
    
    color:white;
    font-weight:300 ;
    font-size:1.3rem;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
    color: rgb(91, 138, 226);
    font-size:1.5rem;

}
.navtag{
    width:35%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    margin-left:2em;
}
nav button{
    height:4em;
    width:12em;
    background-image:url(noise-gradient-blurry-colorful-abstract-background.jpg) ;
    background-size: 12em 4em;
} 
nav button:hover{
    background-image: none;
    background-color: rgb(91, 138, 226);
}
#bars{
    position:absolute;
    bottom:0;
    left:0;
    width:90%;
    height:30vh;
    margin-left:4%;
    border-bottom: 3px solid rgb(54, 54, 148);
}
#games{
    position:absolute;
    bottom:0;
    height:35vh;
    margin-left:30%;
}
#buggy{
    height:10vh;
    position: absolute;
    bottom:0;
    right:0;
    width:10%;
    animation-name:moveleft;
    animation-duration:8s;
}
@keyframes moveleft{
    0%{
        opacity:1;
        transform:translate(0,0); 
    }
    100%{
        opacity:1;
        transform:translate(-1440px,0);
    }
}
.one span{
    color:white;
    margin-top:5em;
    margin-left:40em;
}
.small{
    position:relative;
    font-size:1.5rem;
    margin-left:-2em;
    font-family:myfont;
    color:white;

}
.big{
    font-size:3em;
    margin-left:-5em;
    font-weight: 100;
    font-family:myfont;
}
.biga{
    font-size:3em;
    margin-left:-2em;
    font-weight: 700;
    font-family:myfont;

}
.one button{
    height:4em;
    width:12em;
    background-image:url(noise-gradient-blurry-colorful-abstract-background.jpg) ;
    background-size: 12em 4em;
    margin-top:2em;
    border-top-right-radius:0% ;
    margin-left:2em;
    
} 
.one button:hover{
    background-image: none;
    background-color: rgb(91, 138, 226);
}
.two{
    width:100%;
    height:110vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5em;
    position:relative;
    
}
@font-face{
    font-family:myfont;
    src:url(bruce-forever-font/BruceForeverRegular-X3jd2.ttf);
}
.two .heading{
    font-size:3em;
    font-weight: 700;
    color:white;
    margin-top:2em;
    text-align:center;
    font-family:myfont;
    
}
.two .heading span{
    color:blueviolet;
}
.matches{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height:10em;
    width:100%;
    margin-top:1em;
}
#team1{
    position:absolute;
    display:flex;
    flex-direction:row;
    width:30%;
    height:6em;
    background-color: rgba(122, 52, 188, 0.5);
    opacity: 0.9;
    margin-right:45em;
    align-items:center;
}
.tname{
    margin-left:0em;
    font-size:1.3rem;
    color:white;
    font-weight: 200;
    font-family:myfont;
    
}
#team1 img{
    margin-right:1em;
    z-index: 13;
    margin-right:1em;
    margin-top:-1em;
}
.slot{
    display: flex;
    align-items: right;
    position:absolute;
    background-image:url(noise-gradient-blurry-colorful-abstract-background.jpg);
    background-size: 100% 3em;
    opacity:0.8;
    width:79%;
    height:3em;
    z-index: 12;
    margin-top:7em;
    margin-left:6em;
    border-top-left-radius:30px;
    align-items: center;
}
.details{
    font-size:1rem;
    margin-left:1em;
    color:white;
    font-weight: 200;
    font-family:myfont;
    text-align: center;

}
#team2{
    position:absolute;
    display:flex;
    flex-direction:row-reverse;
    width:30%;
    height:6em;
    background-color: rgba(122, 52, 188, 0.5);
    margin-left:45em;
    align-items:center;
}
#team2 img{
    margin-right:1em;
    z-index: 13;
    margin-right:-2em;
    margin-top:-1em;
}
.slot{
    display: flex;
    align-items: right;
    position:absolute;
    background-image:url(noise-gradient-blurry-colorful-abstract-background.jpg);
    background-size: 100% 3em;
    opacity:0.8;
    width:79%;
    height:3em;
    z-index: 12;
    margin-top:7em;
    margin-left:6em;
    border-top-left-radius:30px;
    align-items: center;
}
.details{
    font-size:1rem;
    margin-left:1em;
    color:white;
    font-weight: 200;
    font-family:myfont;
    text-align: center;

}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:26%;
    height:6em;
    color:white;
}
.mtime{
    font-size:3em;
    font-family: myfont;
}
.mdate{
    font-family: myfont;
}
.three{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    
    flex-direction: column;
    position:relative;
    margin-top:0vh;
}
.smal{
         margin-top:12vh;
         color:white;
         font-family:myfont;
         font-size:1.5em;
}
.headin{
    color:white;
    font-family:myfont;
    font-size:3em
}
.headin span{
    color:blueviolet;
}
.parent{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    height:30vh;
    width:100%;
}
.child1{
    background-color: rgb(6, 6, 68);
    width:25%;
    height:60vh;
    margin-top:43vh;
    opacity:0.7;
    display: flex;
    flex-direction: column;

}
.child1:hover{
    height:62vh;
    width:26%;
}
.child1 img{
    height:24vh;
    width:100%;
}
.child1 pre{
    color:white;
    margin-top:1em;
    text-align:center;
    font-family:myfont;
    font-size:0.8em;
}
.child1 p{
    color:white;
    margin-top:1em;
    text-align:center;
    font-family:myfont;
    font-size:0.9em;

}
.child2{
    background-color: rgb(6, 6, 68);
    width:25%;
    height:60vh;
    margin-top:43vh;
    opacity:0.7;
    display: flex;
    flex-direction: column;
}
.child2:hover{
    height:62vh;
    width:26%;
}
.child2 img{
    height:24vh;
    width:100%;
}
.child2 pre{
    color:white;
    margin-top:1em;
    text-align:center;
    font-family:myfont;
    font-size:0.8em;
}
.child2 p{
    color:white;
    margin-top:1em;
    text-align:center;
    font-family:myfont;
    font-size:0.9em;

}
.child3{
    background-color: rgb(6, 6, 68);
    width:25%;
    height:60vh;
    margin-top:43vh;
    opacity:0.7;
    display: flex;
    flex-direction: column;
}
.child3:hover{
    height:62vh;
    width:26%;
}
.child3 img{
    height:24vh;
    width:100%;

}
.child3 pre{
    color:white;
    margin-top:1em;
    text-align:center;
    font-family:myfont;
    font-size:0.8em;
}
.child3 p{
    color:white;
    margin-top:1em;
    text-align:center;
    font-family:myfont;
    font-size:0.9em;
    margin-top:2em;

}
.four{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    position:relative;
    margin-top:0vh;
}
.ct{
    width:40%;
    height:85vh;
    margin-top:12vh;
    position:absolute;
    /* background-color: rgb(6, 6, 68); */
    /* opacity:0.7; */
    background-blend-mode: lighten;
    display: flex;
    flex-direction:column;
    text-align:center;
    margin-right:40em;
   
}
form{
      background-color: rgb(6, 6, 68); 
      height:85vh;
}
.ct .con{
    color:white;
    font-family:myfont;
    font-size:3em;
   }
.ct .con span{
    color:blueviolet;
}   
.name{
    width:77%;
    height:6vh;
    border-radius: 30px;
    margin-top:1em;
   
}
.email{
    width:77%;
    height:6vh;
    border-radius: 30px;
    margin-top:1em;
   
}
.suggest{
    width:77%;
    height:25vh;
    border-radius: 30px;
    margin-top:1em;
   
}
.nam{
    font-family: 'Times New Roman', Times, serif;
    font-size:1.4em;
    margin-top:1em;
    color:white;
}
    .but{
        height:4em;
        width:12em;
        background-image:url(noise-gradient-blurry-colorful-abstract-background.jpg) ;
        background-size: 12em 4em;
        margin-top:2em;
    } 
    .but:hover{
        background-image: none;
        background-color: rgb(91, 138, 226);
    }


.photo{
    width:40%;
    height:70vh;
    margin-top:21vh;
    background-color: rgb(6, 6, 68);
    position:absolute;
    margin-left:50em;
    
}
@media (min-width:320px) and (max-width:375px){
     .navtag{
        margin-left:-4em;
     }
     a{
        padding:0.3em;
     }
     .logo{
        margin-left:0em;
     }
     .main{
        width:100%;
        height:100%;
        background-size:170% 226vh;
     }
     nav{
        width:106%;
        height:7em;
     }
     .one{
        height:96vh;
        width:196%;
     }
     #bars{
        position:absolute;
        bottom:0;
        left:0;
        width:153%;
        height:38vh;
        margin-left:0%;
        border-bottom: 3px solid rgb(54, 54, 148);
    }
    #games{
        position:absolute;
        bottom:0;
        height:35vh;
        margin-left:40%;
    }
    /* .big{
        display:flex;
        flex-wrap: wrap;
    } */
    .small{
        font-size:1.5rem;
        margin-left:-11em;
    }
    .big{
        font-size:3em;
        margin-left:-9em;
        font-family:myfont;
        margin-top:1em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    
    }
    .biga{
        font-size:3em;
        margin-left:-7.5em;
        
    
    }
    .one button{
        visibility: hidden;
        
    } 
    .two{
        width:299%;
    }
    .three{
        width:299%;
    }
    .four{
        width:299%;
    }
    .ct{
        position:relative;
        margin-right:0em;
    }
    .photo{
        position:relative;
        margin-left:0em;

    }


}
@media (min-width:375px) and (max-width:425px){

    .one{
        width:298%;
        height:96vh;
    }
    .two{
        width:248%;
    }
    .three{
        width:299%;
        margin-top:-15vh;
    }
    .four{
        width:312%;
    
}
header{
    width:100%;
}
.navtag{
    margin-left:-4em;
 }
 a{
    padding:0.8em;
 }
 .logo{
    margin-left:0em;
 }
 .main{
    width:75%;
    height:100%;
    background-size:170% 226vh;
 }
 nav{
    width:106%;
    height:7em;
 }
 #bars{
    position:absolute;
    bottom:0;
    left:0;
    width:101%;
    height:34vh;
    margin-left:0%;
    border-bottom: 3px solid rgb(54, 54, 148);
}
.one span{
    margin-top:3em;
    margin-left:28em;
}
#games{
    position:absolute;
    bottom:0;
    height:35vh;
    margin-left:24%;
}
/* .big{
    display:flex;
    flex-wrap: wrap;
} */
.small{
    font-size:1.5rem;
    margin-left:-7em;
}
.big{
    font-size:3em;
    margin-left:-9em;
    font-family:myfont;
    margin-top:1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.biga{
    font-size:3em;
    margin-left:-5.5em;
    

}
.one button{
    margin-left:-8em;
    
} 
.two .heading{
    font-size:2em;
    margin-left:4em;
}
#team1{
    width:46%;
    margin-right:23em;
}
.tname{
    font-size:1em;
}
.slot{
    width:69%;
    margin-left:6em;
}
#team2{
    width:44%;
    margin-right:2em;
}
.mtime{
    font-size:2em;
}
.time{
    margin-left:10em;
}
.mdate{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.smal{
    margin-left:3em;
}
.headin{
    font-size:2em;
    margin-left:2em;
}
.child1{
    height:70vh;
    margin-top:52vh;
    width:29%;
}
.child2{
    height:70vh;
    margin-top:52vh;
    width:29%;
}
.child3{
    height:75vh;
    margin-top:57vh;
    width:29%;
}
.child1 pre{
    visibility:hidden;
    margin-top:-2em;
}
.child2 pre{
    visibility:hidden;
    margin-top:-2em;
}
.child3 pre{
    visibility:hidden;
    margin-top:-2em;
}
.photo{
    width:34%;
    height:44vh;
    position:relative;
    margin-left:0em;
}
.ct{
    width:51%;
    height:85vh;
    margin-bottom:1em;
    position:relative;
    margin-right:0em;
}

}
@media (min-width:425px) and (max-width:760px){

    .one{
        width:298%;
        height:96vh;
    }
    .two{
        width:248%;
    }
    .three{
        width:299%;
        margin-top:-15vh;
    }
    .four{
        width:312%;
    
}
header{
    width:100%;
}
.navtag{
    margin-left:-4em;
 }
 a{
    padding:0.8em;
 }
 .logo{
    margin-left:0em;
 }
 .main{
    width:75%;
    height:100%;
    background-size:170% 226vh;
 }
 nav{
    width:106%;
    height:7em;
 }
 #bars{
    position:absolute;
    bottom:0;
    left:0;
    width:101%;
    height:34vh;
    margin-left:0%;
    border-bottom: 3px solid rgb(54, 54, 148);
}
.one span{
    margin-top:3em;
    margin-left:28em;
}
#games{
    position:absolute;
    bottom:0;
    height:35vh;
    margin-left:24%;
}
/* .big{
    display:flex;
    flex-wrap: wrap;
} */
.small{
    font-size:1.5rem;
    margin-left:-7em;
}
.big{
    font-size:3em;
    margin-left:-9em;
    font-family:myfont;
    margin-top:1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.biga{
    font-size:3em;
    margin-left:-5.5em;
    

}
.one button{
    margin-left:-8em;
    
} 
.two .heading{
    font-size:2em;
    margin-left:4em;
}
#team1{
    width:46%;
    margin-right:23em;
}
.tname{
    font-size:1em;
}
.slot{
    width:69%;
    margin-left:6em;
}
#team2{
    width:44%;
    margin-right:2em;
}
.mtime{
    font-size:2em;
}
.time{
    margin-left:10em;
}
.mdate{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.smal{
    margin-left:3em;
}
.headin{
    font-size:2em;
    margin-left:2em;
}
.child1{
    height:70vh;
    margin-top:52vh;
    width:29%;
}
.child2{
    height:70vh;
    margin-top:52vh;
    width:29%;
}
.child3{
    height:75vh;
    margin-top:57vh;
    width:29%;
}
.child1 pre{
    visibility:hidden;
    margin-top:-2em;
}
.child2 pre{
    visibility:hidden;
    margin-top:-2em;
}
.child3 pre{
    visibility:hidden;
    margin-top:-2em;
}
.photo{
    width:34%;
    height:44vh;
    position:relative;
    margin-left:0em;
}
.ct{
    width:51%;
    height:85vh;
    margin-bottom:1em;
    position:relative;
    margin-right:0em;
}
}
@media (min-width:768px) and (max-width:1020px){
    .one{
        width:309%;
        height:96vh;
    }
    .two{
        width:248%;
    }
    .three{
        width:311%;
        margin-top:-15vh;
    }
    .four{
        width:312%;
    
}
header{
    width:100%;
}
.navtag{
    margin-left:-4em;
 }
 a{
    padding:0.8em;
 }
 .logo{
    margin-left:0em;
 }
 .main{
    width:75%;
    height:100%;
    background-size:170% 226vh;
 }
 nav{
    width:106%;
    height:7em;
 }
 #bars{
    position:absolute;
    bottom:0;
    left:0;
    width:97%;
    height:34vh;
    margin-left:2%;
    border-bottom: 3px solid rgb(54, 54, 148);
}
.one span{
    margin-top:3em;
    margin-left:74em;
}
#games{
    position:absolute;
    bottom:0;
    height:41vh;
    margin-left:35%;
}
/* .big{
    display:flex;
    flex-wrap: wrap;
} */
.small{
    font-size:1.5rem;
    margin-left:-18em;
}
.big{
    font-size:3em;
    margin-left:-24em;
    font-family:myfont;
    margin-top:1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.biga{
    font-size:3em;
    margin-left:-10.5em;
    

}
.one button{
    margin-left:-28em;
    
} 
.two .heading{
    font-size:3em;
    margin-left:9em;
}
.matches{
    width:125%;
}
#team1{
    width:46%;
    margin-right:47em;
}
.tname{
    font-size:2em;
}
.slot{
    width:54%;
    margin-left:19em;
}
#team2{
    width:44%;
    margin-right:-21em;
}
.mtime{
    font-size:3em;
}
.time{
    margin-left:10em;
}
.mdate{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.smal{
    margin-left:3em;
}
.headin{
    font-size:3em;
    margin-left:2em;
}
.child1{
    height:57vh;
    margin-top:52vh;
    width:26%;
}
.child2{
    height:57vh;
    margin-top:52vh;
    width:26%;
}
.child3{
    height:56vh;
    margin-top:52vh;
    width:26%;
}
.child1 pre{
    font-size:1.3em;
}
.child2 pre{
    font-size:1.3em;
}
.child3 pre{
    font-size:1.3em;
}
.photo{
    width:34%;
    height:44vh;
    position:relative;
    margin-left:0em;
}
.ct{
    width:51%;
    height:85vh;
    margin-bottom:1em;
    position:relative;
    margin-right:0em;
}
}
@media (min-width:1024px) and (max-width:1400px){
    .one{
        width:309%;
        height:100vh;
    }
    .two{
        width:248%;
    }
    .three{
        width:311%;
        margin-top:0vh;
    }
    .four{
        width:312%;
    
}
header{
    width:100%;
}
.navtag{
    margin-left:-4em;
 }
 a{
    padding:0.8em;
 }
 .logo{
    margin-left:0em;
 }
 .main{
    width:73%;
    height:100%;
    background-size:170% 226vh;
 }
 nav{
    width:106%;
    height:7em;
 }
 #bars{
    position:absolute;
    bottom:0;
    left:0;
    width:90%;
    height:34vh;
    margin-left:5%;
    border-bottom: 3px solid rgb(54, 54, 148);
}
.one span{
    margin-top:3em;
    margin-left:74em;
}
#games{
    position:absolute;
    bottom:0;
    height:47vh;
    margin-left:36%;
}
/* .big{
    display:flex;
    flex-wrap: wrap;
} */
.small{
    font-size:2.5rem;
    margin-left:-5em;
}
.big{
    font-size:4em;
    margin-left:-17em;
    font-family:myfont;
    margin-top:0em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.biga{
    font-size:4em;
    margin-left:-4.5em;
    

}
.one button{
    margin-left:-3em;
    
} 
.two .heading{
    font-size:4em;
    margin-left:9em;
    margin-top: 1em;
}
.matches{
    width:125%;
}
#team1{
    width:37%;
    margin-right:57em;
}
.tname{
    font-size:2em;
}
.slot{
    width:54%;
    margin-left:19em;
}
#team2{
    width:33%;
    margin-right:-26em;
}
.mtime{
    font-size:3em;
}
.time{
    margin-left:10em;
}
.mdate{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.smal{
    margin-left:3em;
}
.headin{
    font-size:4em;
    margin-left:2em;
}
.child1{
    height:57vh;
    margin-top:52vh;
    width:26%;
}
.child2{
    height:57vh;
    margin-top:52vh;
    width:26%;
}
.child3{
    height:56vh;
    margin-top:52vh;
    width:26%;
}
.child1 pre{
    font-size:1.3em;
}
.child2 pre{
    font-size:1.3em;
}
.child3 pre{
    font-size:1.3em;
}
.photo{
    width:34%;
    height:44vh;
    position:relative;
    margin-left:0em;
}
.ct{
    width:36%;
    height:85vh;
    margin-bottom:3em;
    position:relative;
    margin-right:0em;
}
}



